<header>
    <img style="width: 50%" src="assets/ReadingDoodle.svg">
    <div class="mat-display-2">know</div>
    <div class="mat-headline">minimalist guide to fullfilment</div>
</header>

<div style="background-color:burlywood; color:gold ; padding: 2em">
  <div class="mat-headline" style="text-align: left">Pareto Law</div>
  <div class="mat-display-4" style="text-align: center">70% of the outputs comes from the 30% of the inputs</div>
  <div class="" style="text-align: right">act fast, doing the 70% of a task consume 30% of your time, so leave it as 70%, there is always space to improve.</div>
</div>

<div style="background-color:gold; color:orange ; padding: 2em">
  <div class="mat-display-1" style="text-align: left">PERFECTION IS PARALISYS</div>
  <div class="mat-headline" style="text-align: left">just start and solve on the go, no one knows what they are doing anyway. Don't doubt of your willing to get results, do what you have to do, get results.</div>
</div>

<div style="background-color:beige; color:black ; padding: 2em">
  <div class="mat-display-2" style="text-align: right">LEARN, TEST, SELL</div>
  <div class="mat-headline" style="text-align: center">dont learn something, and then change it for another theory, and then mix several theories, just don't overthink, learn one theory, test it, sell it, and keep moving forward. Its better to learn deep a book by reading it several times, than to read the surface of several books.</div>
</div>

<div style="background-color:gold; color:orange ; padding: 2em">
  <div class="mat-display-1" style="text-align: left">DO THE UNCOMFORTABLE</div>
  <div class="mat-headline" style="text-align: left">avoid doing task that are time consuming and makes you feel productive, but give you no money, no improve, and just delay the uncomfortable things that you have to do right now.</div>
</div>

<div style="background-color:beige; color:black ; padding: 2em">
  <div class="mat-display-2" style="text-align: right">THE FOUR AGREEMENTS</div>
  <div class="mat-headline" style="text-align: center">
    <p>1. Be Impeccable With Your Word.</p>
    <p>2. Don't Take Anything Personally.</p>
    <p>3. Don't Make Assumptions.</p>
    <p>4. Always Do Your best</p>
  </div>
</div>